@charset "utf-8";

body {
    background: rgb(243, 243, 243);
}



/* 导航栏 */
.header-nav a {
    color: #fff;
}

/* 轮播图css */

.header-bbox {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    min-width: 1240px;
}

.swiper-wrapper a {
    display: block;
    width: 1240px;
    height: 670px;
    margin: 0 auto;
}

.swiper-slide {
    width: 100%;
    height: 99.7%;
}

.bg1 {
    background: url(../images/banner1.jpg);
    /* 图片居中 */
    background-position: center;
}

.bg2 {
    background: url(../images/banner2.jpg);
    background-position: center;
}

.bg3 {
    background: url(../images/banner3.jpg);
    background-position: center;
}

.bg4 {
    background: url(../images/banner4.jpg);
    background-position: center;
}

.bg5 {
    background: url(../images/banner5.jpg);
    background-position: center;
}

.bg6 {
    background: url(../images/banner6.jpg);
    background-position: center;
}

.bg7 {
    background: url(../images/banner7.jpg);
    background-position: center;
}

.bg8 {
    background: url(../images/banner8.jpg);
    background-position: center;
}

/*包裹分页器的div的位置等CSS样式*/
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
    left: 0px;
    width: 100%;
}

/* 小圆点的间距 */
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

/* 小圆点样式 */
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 0.9;
}

/* 被选中小圆点样式 */
.swiper-pagination-bullet-active {
    width: 9px;
    height: 9px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
}

/* 轮播下面第一行 */
.section-bbox {
    width: 100%;
    min-width: 1240px;
    height: 278px;
    background: #fff;

}

.section-box {
    width: 1240px;
    height: 278px;
    margin: 0 auto;
}

.section-box-ul {
    width: 1240px;
    height: 278px;
    margin: 0 auto;
}

.section-box-ul a {
    width: 310px;
    height: 232px;
    float: left;
    margin-top: 45px;
    text-align: center;
}

.section-box-ul a:hover {
    transition: all 0.6s;
    opacity: 0.7;
}

.section-box-ul img {
    display: block;
    width: 190px;
    height: 130px;
    margin: 0 auto;
}

.section-box-ul h2 {
    font-size: 20px;
    margin-top: 10px;
}

.section-box-ul p {
    font-size: 14px;
    margin-top: 5px;
    color: #ccc;
}

/* 手机页面 */

.phone-h3-box {
    width: 100%;
    height: 55px;
    min-width: 1240px;
    background: rgb(243, 243, 243);
    padding-top: 50px;
}

.phone-h3 {
    display: block;
    font-size: 30px;
    width: 1240px;
    height: 55px;
    text-align: center;
    margin: 0 auto;

}

.phone-banner-bbox {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1240px;
    height: 450px;
}

.phone-banner-box {
    overflow: hidden;
}

.phone-banner-box img {
    position: absolute;
    left: 50%;
    margin-left: -1280px;
    display: block;
    width: 2560px;
    height: 450px;
}

.phone-banner-box img:hover {
    transition: all 0.6s;
    opacity: 0.7;
}

.phone-box {
    width: 1240px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.v8 {
    position: relative;
    width: 615px;
    height: 610px;
    background: #fff;
}

.v8:hover {
    transition: all 0.6s;
    -moz-box-shadow: 0px 6px 20px #A3A3A3;
    -webkit-box-shadow: 0px 6px 20px #A3A3A3;
    box-shadow: 0px 6px 20px #A3A3A3;
}

.phone-left {
    float: left;
    margin-right: 10px;
}

.phone-right {
    float: right;
}

.new {
    position: absolute;
    left: 30px;
    top: 30px;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #2e74f6, #56bdf9);
}

.phone-box h1 {
    display: block;
    font-size: 28px;
    color: #333;
    margin: 50px 0 3px 0;
}

.phone-box h2 {
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
    color: #333;
}

.phone-box em {
    display: block;
    color: #c00;
    font-size: 22px;
}

.phone-box img {
    display: block;
    width: 452px;
    height: 452px;
    margin: 0 auto;
}

.phone-list {
    float: left;
    width: 1240px;
    height: 375px;
    padding-top: 10px;
    margin: 0 auto;
}

.phone-list a {
    display: block;
    float: left;
    margin-right: 10px;
    background: #fff;
    text-align: center;
    width: 302.5px;
    height: 375px;
}

.phone-list a:hover {
    transition: all 0.7s;
    -moz-box-shadow: 0px 6px 20px #A3A3A3;
    -webkit-box-shadow: 0px 6px 20px #A3A3A3;
    box-shadow: 0px 6px 20px #A3A3A3;

}

.phone-list li:nth-child(4) a {
    margin-right: 0;
}

.phone-list img {
    display: block;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    margin-top: 30px;
}

.phone-list h2 {
    color: #333;
    font-size: 16px;
    margin-bottom: 2px;
}

.phone-list p {
    color: #999;
    font-size: 14px;
}

.phone-list span {
    display: inline-block;
    color: #c00;
    font-size: 22px;
}

.phone-list span em {
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
}

/* 声学 */
.erji {
    height: 770px;
}

.phone-list .erji-img {
    width: 302px;
    height: 375px;
    margin: 0;
}

.foot {
    margin-top: 50px;
}